.DS_Store
.config/configstore
.config/containers/podman-connections.json
.config/containers/podman-connections.json.lock
.config/containers/podman/machine/applehv
.config/dotenvx
.config/fish/completions
.config/github-copilot/hosts.json
.config/helix/runtime/grammars
.config/k9s
.config/karabiner/automatic_backups
.config/kitty/meow
.config/lazygit/state.yml
.config/nextjs-nodejs
.config/raycast/extensions/
.config/tmux/plugins
.config/zed/embeddings/
.config/zed/conversations/
.config/zed/prompts/prompts-library-db.0.mdb
.local/share/fnm
.local/share/karabiner/log
.local/share/karabiner/pid
.log
.tmp*
helix/runtimes
node_modules
tmux/plugins
.local/share
.local/state
.config/github-copilot/apps.json
.config/uv
.config/uv
.local
qdrant_storage
.zshrc.local
.config/stripe/config.toml
.local/bin/wezterm-workspaces.sh
