node_modules
tmux/plugins
helix/runtimes
.log
.DS_Store
.config/github-copilot/hosts.json
.config/configstore
.config/zed/embeddings/
.tmp*
.config/lazygit/state.yml
.config/raycast/extensions/
.config/dotenvx
.config/k9s
.config/nextjs-nodejs
.config/tmux/plugins
